<% layout("layouts/boilerplate")  -%>
<script>
    let apikey = '<%=process.env.HERE_MAP_API_KEY %>'
    let coordinates = <%-JSON.stringify(listing.geometry.coordinates)%>
</script>
<body>
    <div class="show-data container mx-auto w-90">
            <h2 class=" main-heading mt-4 mb-4 ">Details about -  <small><u><b><%= listing.title  %></b></u></small></h2>
            <div class="card mx-auto">
                <img class="card-img-top show-img"  src=<%= listing.image.url %> alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <p>Hosted by - <em><%= listing.owner.username %></em></p>
                        <h2><%= listing.title %></h2>
                        
                        <p> <%= listing.desc %></p>
    
                        <p>&#8377; <%= listing.price.toLocaleString("en-IN") %></p>

                        <p><%= listing.location %></p>
                        
                        <p><%= listing.country %></p>
                    </p>
                </div>
                <div class="btn-col row  row-cols-2 mt-4 ">
                    <% if(currUser && currUser._id.equals(listing.owner._id) ){ %>
                    <button class="btn px-4 py-2 mb-3 editt-btn row-2">
                        <a href="/listings/<%=listing._id%>/edit"> Edit</a>
                    </button>
        
                    <form method="POST" action="/listings/<%=listing.id%>?_method=DELETE">
                        <button class="btn btn-dark px-4 py-2 mb-3 delete-btn row-2"> Delete </button>
                    </form>
                    <% } %>
                </div>
                
                <hr>
                
            <div class="map mb-4">
                <h2 class="mb-4"> You will be here </h2>
                <h5><i class="fa-solid fa-location-dot" style="color: #ff0080;"></i> <span class="map-location-span"><u> <%=listing.location%>, <%=listing.country%></u> </span></h5>
                <div style="width: 100%; height: 480px" id="map"></div>
            </div>

            

                   <div class="mt-4">
                    <% if(currUser) {%><hr>
                   <h4 class="mb-4"> <u><b>Leave a Review</b></u></h4>
                   <form  class="mb-4 needs-validation" novalidate method="POST" action="/listings/<%=listing._id%>/reviews">
                    <div>
                        <fieldset class="starability-slot mb-4">
                            <legend>Rating </legend>
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                    </div>

                    <div>
                        <label class="form-label mt-2" for="comment"><legend>Comments </legend></label>
                        <textarea required class="form-control" name="review[comment]" id="comment"></textarea>
                        <div class="invalid-feedback">Please add some comment for review!</div>
                    </div>

                    <button class="btn btn-outline-dark mt-4">Submit</button>

                </form>
                <% } %>
               </div>

               <div>
                <% if(listing.reviews.length> 0) {%>
                <hr>

                   <h2 class="mb-4 pb-4">Reviews:</h2>
               <% for (review of listing.reviews){%>
                <div class="reviews-box">
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-title "> <em>@<%=review.author.username  %></em></h5>
                            <div class="card-body">
                                <div class="card-text">
                                    <p class="starability-result" data-rating="<%=review.rating%>">
                                        <%=review.rating%>
                                    </p> 
                                    <p>---"<%= review.comment %>"---</p>
                                
                                </div>
                        <% if(review.author.equals(currUser._id)) {%>
                                <form 
                                class="mb-3 mt-2"
                                method="POST"
                                action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
    
                                    <button class="btn btn-outline-dark">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
    
                                </form>
                        <% }%>
                             </div>
                        </div>
                        </div>
                        <% } %>
                        <% } %>
                    </div>           
              
               </div>
               </div>
            </body>
            
            <!-- map -->
            <script src="/JS/map.js"></script>